body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a { 
    text-decoration: none;
    color: #007bff;
}